<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Watch Together</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">

    <!-- Font awesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><b>Watch Together</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Play <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">How this works</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input id="search-input" class="form-control mr-sm-2" type="search" placeholder="Video link..." aria-label="Search">
          <a id="search-btn" class="btn btn-outline-success my-2 my-sm-0">Search</a>
        </form>
      </div> <!-- /.navbar-collapse -->
    </nav>

    <div id="player-ui">
      <div class="container h-100 d-flex justify-content-center">
        <div class="jumbotron my-auto">
          <h4 id="video-title">Title: </h4>

          <div id="player"></div>
          
          <div class="controls">
            <div class="row">
              <!-- Control buttons -->
              <div class="col-2">
                <a id="play-btn" href="#" class="btn btn-dark">
                  <span class="fa fa-play"></span> 
                </a>
                <a id="pause-btn" href="#" class="btn btn-dark">
                  <span class="fa fa-pause"></span> 
                </a>
              </div>
              <!-- Timeline -->
              <div class="col-10">
                <div class="timeline">
                  <div class="line"></div>
                  <div class="dot"></div>
                </div>
              </div>
            </div>
          </div> <!-- /.controls -->
        </div>
      </div><!-- /.container -->
    </div><!-- /#player-ui -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/socket.io.js"></script>
    <script src="js/client.io.js"></script>
    <script>
        // This function will check, if you clicked on search and then
        // it will parse the video link and reload the page with the correct
        // video.
        $('#search-btn').click(function(event) {
          const searchInput = $('#search-input').val();
          if (searchInput.length == 0) {
            console.log('Please insert the video link');
            return;
          }
          console.log(searchInput);
        })
      </script>
  </body>
</html>