<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Watch Together</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">

    <!-- Font awesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Watch Together</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div> <!-- /.navbar-collapse -->
    </nav>

    <div id="player-ui">
      <div class="container h-100 d-flex justify-content-center">
        <div class="jumbotron my-auto">
          <div id="player"></div>
          
          <div class="controls">
            <div class="row">
              <!-- Control buttons -->
              <div class="col-2">
                <a href="#" class="btn btn-dark">
                  <span class="fa fa-play"></span> 
                </a>
                <a href="#" class="btn btn-dark">
                  <span class="fa fa-pause"></span> 
                </a>
              </div>
              <!-- Timeline -->
              <div class="col-10">
                <div class="timeline">
                  <div class="line"></div>
                  <div class="dot"></div>
                </div>
              </div>
            </div>
          </div> <!-- /.controls -->
        </div>
      </div><!-- /.container -->
    </div><!-- /#player-ui -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
		<script src="js/socket.io.js"></script>
    <script>
        // This code will setup socket io for the client.
        var socket = io.connect();

        // This code loads the IFrame Player API code asynchronously.
        var tag = document.createElement('script');
  
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  
        // This function creates an <iframe> (and YouTube player)
        // after the API code downloads.
        var player;
        function onYouTubeIframeAPIReady() {
          player = new YT.Player('player', {
            height: '480',
            width: '720',
            videoId: 'F0zOQhFQd9k',
            events: {
              'onReady': onPlayerReady,
              'onStateChange': onPlayerStateChange
            },
            playerVars: {
              'controls': 0,
              'disablekb': 1,
              'modestbranding': 0,
              'rel': 0,
              'showinfo': 0
            }
          });
        }
  
        // This method gets called when the player is ready to go.
        function onPlayerReady(event) {
          event.target.setVolume(5);
          startTimelineLoop();
          //event.target.playVideo();
        }
  
        // This method gets called whenever the state of the player changes.
        // If someone pressed the play button (state=1) this method will be called
        // and it will notify all other connected clients that the video plays.
        function onPlayerStateChange(event) {
          switch (event.data) {
            case YT.PlayerState.PLAYING:
              console.log('Playing video');
              break;
            case YT.PlayerState.PAUSED:
              console.log('Pausing video');
              break;
          }
        }

        function startTimelineLoop() {
          const progressBar = $('.timeline');
          const progressDot = $('.timeline .dot');

          setInterval(function() {
            if (player == null || progressBar == null) {
              return;
            }

            var fraction = player.getCurrentTime() / player.getDuration() * 100;
            progressDot.css("left", fraction.toString() + "%");
          });
        }
      </script>
  </body>
</html>