<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Watch Together</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <!-- Material Design CSS files -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">

    <!-- Font awesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div id="username-dialog" class="modal">
        <div class="modal-content">
            <h4>Type in your username</h4>
            <form action="#">
                <div class="input-field">
                    <input type="text" class="validate" id="username-input" autocomplete="off">
                    <label for="username-input">Username</label>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect waves-green btn-flat">Get Started!</a>
        </div>
    </div>

    <header>
        <nav>
            <div class="nav-wrapper indigo">
                <form>
                    <div class="input-field">
                        <input type="search" id="search-input" name="search-input" placeholder="F0zOQhFQd9k" autocomplete="off" required>
                        <label for="search-input" class="label-icon"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
        </nav>
    </header>

    <div class="container">
        <!-- Player UI -->
        <div class="row">
            <div class="col s8">
                <div id="player-ui">
                    <div class="my-auto">
                        <div id="player"></div>

                        <div class="controls">
                            <div class="row">
                                <!-- Control buttons -->
                                <div class="col s1">
                                    <a id="play-btn" class="waves-effect waves-light btn">
                                        <i class="material-icons">play_arrow</i>
                                    </a>
                                </div>
                                <div class="col s1">
                                    <a id="pause-btn" class="waves-effect waves-light btn">
                                        <i class="material-icons">stop</i>
                                    </a>
                                </div>
                                <!-- Timeline -->
                                <div class="col s8">
                                    <div class="timeline">
                                        <div class="line"></div>
                                        <div class="dot"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <% if (locals.room) { %>
                    <h3>Room:
                        <%= room %>
                    </h3>
                    <% } %>
                        <h4>Video information</h4>
                        <!-- Video info -->
                        <ul id="video-info" class="demo-list-item mdl-list">
                            <li class="mdl-list__item">
                                <p>Video title:
                                    <span id="video-title"></span>
                                </p>
                            </li>
                            <li class="mdl-list__item">
                                <p>Video ID:
                                    <span id="video-id"></span>
                                </p>
                            </li>
                        </ul>
                        <!-- /Video info -->

                        <!-- User info -->
                        <h4>User information</h4>
                        <ul id="user-info">
                            <li>
                                <p>User watching:
                                    <span id="connected-count">0</span>
                                </p>
                            </li>
                        </ul>
                        <ul id="user-list"></ul>
                        <!-- /User info -->
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <!-- Custom scripts -->
    <script src="js/socket.io.js"></script>
    <script src="js/client.io.js"></script>
    <script>
        $(document).ready(function () {
            $('.modal').modal();
            
            $('#username-dialog').modal({
                dismissible: false,
            });
            $('#username-dialog').modal('open');

            // Check if in searchbar enter key is pressed
            $('#search-input').keypress((e) => {
                if (e.which === 13) { // Pressed 'enter' key
                    e.preventDefault();

                    const searchInput = $('#search-input').val();
                    if (searchInput.length == 0) {
                        return;
                    }
                    player.loadVideoById(searchInput);

                    setTimeout(() => {
                        changeVideoInformation();
                    }, 2000);
                }
            });
        });
    </script>
</body>

</html>