#search-btn {
    color: #28a745;
}

#search-btn:hover {
    color: white;
}

#player-ui {
    margin-top: 50px;
}

#video-title {
    color: rgb(63,81,181);
}

.controls {
    margin-bottom: 2px;
}

.controls .timeline {
    padding: 1px 0 1px 0;
}

.controls .timeline .line {
    margin-top: 25px;
    border: 0;
    border-top: 1px solid #343a40;
    position: relative;
}

.controls .timeline .dot {
    margin-top: -9px;
    height: 13px;
    width: 13px;
    position: relative;
    border-width: 2px;
    border-radius: 100px;
    background-color: #343a40;
    border-style: solid;
    left: 0%;
}