html,
body {
    font-family: 'Roboto';
}

.container {
    margin-top: 50px;
}

#video-info, #user-info {
    padding-top: 0;
    padding-bottom: 0;
}
#video-info li p, #user-info li p {
    font-weight: 100;
    font-size: 20px;
}

h3, h4 {
    color: rgb(63,81,181);
    font-size: 28px;
}
h4 {
    margin-top: 50px;
}

.controls {
    margin-top: 15px;
}
.controls .btn {
    background-color: #00BCD4;
}
.controls .timeline {
    padding: 1px 0 1px 0;
}
.controls .timeline .line {
    margin-top: 18px;
    border: 0;
    border-top: 1px solid #343a40;
    position: relative;
}
.controls .timeline .dot {
    margin-top: -7px;
    height: 13px;
    width: 13px;
    position: relative;
    border-width: 2px;
    border-radius: 100px;
    background-color: #343a40;
    border-style: solid;
    left: 0%;
}

#search-input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}
#search-input:focus::placeholder {
    color: rgba(0, 0, 0, 0.5);
}
#search-input {
    color: #fff;
}
#search-input:focus {
    color: #000;
}

.modal {
    width: 15%;
}
.modal form {
    margin-top: 55px;
}

#user-list {
    font-size: 16px;
    font-weight: 300;
}
#user-list .subtitle {
    font-weight: 100;
}
.inline-icon {
    vertical-align: bottom;
 }