body {
    background-color: #3c4249;
}

.jumbotron {
    background-color: #b2b9c1;
}

#player-ui {
    margin-top: 50px;
}

.controls {
    margin-bottom: 2px;
}

.controls .timeline {
    padding: 1px 0 1px 0;
}

.controls .timeline .line {
    margin-top: 20px;
    border: 0;
    border-top: 1px solid #343a40;
    position: relative;
}

.controls .timeline .dot {
    margin-top: -7px;
    height: 13px;
    width: 13px;
    position: relative;
    border-width: 2px;
    border-radius: 100px;
    background-color: #343a40;
    border-style: solid;
    left: 0%;
}